@model Assignment_NET.Models.Order
@using Assignment_NET.Models
@{
    ViewBag.Title = "confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var status = @Enum.GetName(typeof(Order.OrderStatus), (int)@Model.Status);
    var paymentMethod = @Enum.GetName(typeof(Order.PaymentType), (int)@Model.OrderInformation.PaymentType);
}

<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>Order Confirmation</h2>
                <div class="page_link">
                    <a href="index.html">Home</a>
                    <a href="confirmation.html">Confirmation</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================Order Details Area =================-->
<section class="order_details p_120">
    <div class="container">
        <h2 class="title_confirmation">
            Thank for your order.
        </h2>
        <h5 class="text-center text-warning mb-5">Your order is @status</h5>
        <div class="row order_d_inner mt-5">
            <div class="col-lg-4">
                <div class="details_item">
                    <h4>Order Info</h4>
                    <ul class="list">
                        <li><a><span>Order number</span> : @Model.Id</a></li>
                        <li><a><span>Date</span> :@Model.CreatedAt</a></li>
                        <li><a><span>Total</span> : <span class="format-money text-danger">@Model.TotalPrice</span></a></li>
                        <li><a><span>Payment method</span> : <span class="text-info">@paymentMethod</span></a></li>
                        <li><a><span>Status</span> :  <span class="text-warning">@status</span></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="details_item">
                    <h4>Shipping Address</h4>
                    <ul class="list">
                        <li><a><span>Name</span> : @Model.OrderInformation.ShipName</a></li>
                        <li><a><span>Phone</span> : @Model.OrderInformation.ShipPhone</a></li>
                        <li><a><span>Address</span> : @Model.OrderInformation.ShipAddress</a></li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="order_details_table">
            <h2>Order Details</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Image</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>



                        @foreach (var item in Model.OrderDetails)
                        {
                            <tr>
                                <td>
                                    <p>@item.Product.Name</p>
                                </td>
                                <td><img src="@item.Product.Image" style="width:50px; height:50px" /></td>
                                <td>
                                    <h5>x @item.Quantity</h5>
                                </td>
                                @{
                                    int quantity = item.Quantity;
                                    decimal price = item.UnitPrice;
                                    decimal total = quantity * price;
                                }
                               
                                <td>
                                    <p class="format-money text-danger">@total</p>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>
                                <h4>Total Price</h4>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td></td>
                            <td>
                                <p class="text-danger format-money">@Model.TotalPrice</p>
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--================End Order Details Area =================-->